# Mysql默认数据库配置
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=your_db_password
MYSQL_DATABASE=your_db_name
MYSQL_CHARSET=utf8mb4

# 图片服务器地址  可用nginx把 /images 开头的图片请求都转发到 项目图片images路径下
BASE_URL_IMAGES=http://localhost/images

# chrome driver位置，生成图片需要用到
CHROMEDRIVER_PATH="./chromedriver-win64/chromedriver.exe"

# 百川向量模型Key
BAICHUAN_EMBEDDINGS_KEY=your_baichuan_key

# 模型信息 推荐用
LLM_BASE_URL=your_llm_base_url
LLM_API_KEY=your_llm_key
LLM_MODEL_NAME=your_model_name

# 登录账户密码
BI_USERNAME=your_username
BI_PASSWORD=your_password